---
import Content from '../../components/Content.astro'
import { Image } from '@astrojs/image/components'

const isProd = import.meta.env.PROD
const baseUrl = isProd ? 'https://heaven.dev' : ''
---

<section class="mb-10">
    <Content>
        <div class="flex w-full mb-5 items-center">
            <div class="flex-auto">
                <h1 class="text-4xl font-black font-mplus mb-3">Heaven Chen</h1>
                <p class="text-md text-gray-500">
                    Full Stack / Linux / Networking
                </p>
            </div>
        </div>

        <h1
            class="text-2xl uppercase underline underline-offset-8 dark:decoration-blue-300 decoration-orange-500 tracking-[1px] font-semibold font-mplus"
        >
            Bio
        </h1>
        <p class="text-lg mt-4 text-justify font-mplus">
            <span class="text-red-400 font-black font-mplus">
                {'<Heaven Chen/>'}
            </span> is a motivated student with a robust systems background, actively engaged in 
            <strong>computer vision, large language models,</strong> and <strong>cloud technologies.</strong> 
            He is passionate about transforming curiosity into impactful tools and applications, 
            demonstrated through projects such as a <strong>Badminton Pose Estimation System,</strong> 
            an <strong>AI-integrated LINE Bot,</strong> and a <strong>full-stack e-commerce platform.</strong> 
            His experience spans <strong>Python, C, Go, and GCP,</strong> with a strong focus on 
            maintainability, extensibility, and code quality. Chen is currently pursuing a 
            <strong>Master’s in Human Sciences at Waseda University</strong> and an 
            <strong>Online MCS at the University of Illinois Urbana-Champaign,</strong> aiming to 
            contribute to innovative teams focused on <strong>ML tooling, AI systems,</strong> and 
            <strong>infrastructure development.</strong>
        </p>
    </Content>
</section>
