---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import Hero from '../components/Hero.astro'
import Content from '../components/Content.astro'
import Bio from '../layouts/about/bio.astro'
import Experience from '../layouts/about/experience'

const isProd = import.meta.env.PROD
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <Body>
        <Header title={SITE_TITLE} />
        <Hero />
        <main class="pt-[56px]">
            <Bio />
            <Content>
                <Experience />
            </Content>
        </main>
    </Body>
</html>
