---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from '../components/Body.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="font-mplus"></h1>
			<p>
			</p>
			<p>
			</p>
			<p></p>
			<ul>
				<li><code></code></li>
				<li><code></code></li>
				<li><code></code></li>
				<li><code></code></li>
				<li><code></code></li>
			</ul>
		</main>
		<Footer />
	</Body>
</html>
