---
import { Image } from '@astrojs/image/components'
const isProd = import.meta.env.PROD
const baseUrl = isProd ? 'https://heaven-blog.vercel.app/' : ''
---

<section
    class="mb-6 flex flex-col items-center justify-center w-full h-80 relative"
>
    <div
        class="absolute top-14 w-full h-full overflow-hidden flex items-center justify-center"
    >
        <Image
            src={baseUrl + '/images/hero.jpg'}
            class="absolute object-cover opacity-50"
            height={1080}
            width={1920}
            format="jpg"
            alt="Hero Street View"
        />
        <div class="uppercase z-10 text-3xl font-mplus font-medium text-center">
            <div class="mb-4 tracking-[.2rem]">Heaven Chen</div>
            <div class="text-sm tracking-[.5rem]">a Software Developer</div>
        </div>
    </div>
</section>
